In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
dict1 = [{'ID':1,'country':'Sri Lanka','skill_set':['math','science','music','guitar']},
        {'ID':2,'country':'England','skill_set':['singing','presentation']},
        {'ID':3,'country':'USA','skill_set':['music','guitar','piano']},
        {'ID':4,'country':'Sri Lanka','skill_set':['presentation','chemistry','physics']},
        {'ID':5,'country':'Japan','skill_set':['math','music','guitar','piano']}
]

In [3]:
dict2 = [{'ID':1,'country':'Sri Lanka','skill_set':['math','guitar']},
        {'ID':2,'country':'England','skill_set':['singing','presentation']},
        {'ID':3,'country':'USA','skill_set':['guitar','piano']},
        {'ID':4,'country':'Sri Lanka','skill_set':['presentation','physics']},
        {'ID':5,'country':'USA','skill_set':['math','piano']},
        {'ID':6,'country':'India','skill_set':['math','piano','singing','guitar']}
]

In [4]:
def preprocess(dict):
  df = pd.DataFrame(dict)

  mlb = MultiLabelBinarizer()
  df_v2 = pd.DataFrame(mlb.fit_transform(df['skill_set']),columns=mlb.classes_)
  df_merge_col = pd.merge(df, df_v2, left_index=True, right_index=True)
  dataset = df_merge_col.drop(['skill_set'],axis=1)

  return dataset

In [5]:
def find_tutors(student,tutors_df,country=False,n=5):
  '''
  input: pandas series of a specific student entry
  country: whether to consider the country or not
  returns: similar tutors
  '''
  if country:
    tutors_df = tutors_df[tutors_df['country']==student['country']]

  student = student.drop(['country','ID'])
  tutors_df = tutors_df.drop(['country','ID'],axis=1)

  mask = sum([tutors_df==student])
  print(mask)
  sim_scores = mask.sum(axis=1)

  return sim_scores.nlargest(n)

In [6]:
students_df = preprocess(dict1)

In [7]:
tutors_df = preprocess(dict2)
student = students_df.iloc[2]
tutors_df[tutors_df['country']==student['country']]

   ID country  guitar  math  physics  piano  presentation  singing
2   3     USA       1     0        0      1             0        0
4   5     USA       0     1        0      1             0        0

In [8]:
similat_tuts = find_tutors(student,tutors_df)
similat_tuts

   chemistry  guitar  math  music  ...  piano  presentation  science  singing
0          0       1     0      0  ...      0             1        0        1
1          0       0     1      0  ...      0             0        0        0
2          0       1     1      0  ...      1             1        0        1
3          0       0     1      0  ...      0             0        0        1
4          0       0     0      0  ...      1             1        0        1
5          0       1     0      0  ...      1             1        0        0

[6 rows x 9 columns]

2    6
0    4
4    4
5    4
1    2
dtype: int64